# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
classes

# mstest test results
TestResults
test-results
UnitTests/test-results

*.dex
*.userprefs
*.pidb
*~
.sources
*.test-cache
.DS_Store
*.userprefs

